.mainlayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.topbar {
    background-color: #262626; 
    color: white;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    
}

.topbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content {
    display: flex;
    flex: 1;
}

.mainlayout__left {
    width: 60%; 
    padding: 20px; 
}
.mainlayout__right {
    width: 40%; 
    padding: 20px; 
}

.mainlayout__left__top, .mainlayout__right__top {
    margin-bottom: 20px; 
}

.mainlayout__left__bottom__search, .mainlayout__right__bottom__search {
    margin-bottom: 10px; 
}

.mainlayout__left__bottom__filter, .mainlayout__right__bottom__filter {
    text-align: right; 
}

input[type='text'] {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ced4da;
    border-radius: 5px;
}




.chart {
    background-color: #262626; 
    padding: 20px;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    max-height: 300px;
}

.inner-chart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #393939;
    margin: 20px 0;
    padding: 5px;
    border-radius: 2px;
    align-items: center;

}
.rbcard{
    background-color: #262626; 
    padding: 20px;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    justify-content: space-between;
}
.inner-rbcard{
    background-color: #262626; 
    border-radius: 5px;
    color: white;
     margin-left: 20px;
     text-align: left;
    
}

.rt{
    background-color: #262626; 
    padding: 20px;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    justify-content: space-between;
}
.rt-mid{
    background-color: #393939; 
    padding: 20px;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.rb{
    background-color: #262626; 
    padding: 20px;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    justify-content: space-between;
}

.rb-main{
    background-color: #262626; 
    padding: 20px;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    justify-content: space-between;
    margin-top: 20px;
}


.paracard-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0; 
}

.paracard-col {
    flex: 1;
    max-width: 30%; 
    margin-bottom: 20px; 
}

.paracard {
    background-color:#393939; 
    color: white;
    border: none; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
}

.card-body {
    padding: 20px; 
}

.card-title {
    margin-bottom: 15px; 
    font-size: 1.25rem;
    font-weight: bold; 
    color: rgb(159, 159, 159);
}

.card-text {
    margin-bottom: 0; 
  font-size: 1rem; 
  max-width: 100px;
  padding-left: 30px;
}
.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
.Title{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    
}
.Subheading{
    color: rgb(159, 159, 159);
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
}

.sub-2{
    color: rgb(159, 159, 159);
    font-size: 15px;
    font-weight: 500;
}




