body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #89A8B2, #B3C8CF); /* Gradient background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
  }
  
  .Register-container {
    max-width: 450px;
    width: 100%;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.9); /* Light transparent white */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .Register-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f9f9f9;
  }
  
  .form-input:focus {
    outline: none;
    border-color: #5b9bd5;
    background-color: #fff;
  }
  
  .register-btn {
    width: 100%;
    padding: 14px;
    background-color: #060707;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .register-btn:hover {
    background-color: rgb(7, 7, 7);
  }
  
  .register-footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .register-footer a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .register-footer a:hover {
    text-decoration: underline;
  }
  